.show-info {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-orient: horizontal;
    /* 12版 */
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;

    margin-top: 0.2rem;
    padding-bottom: 0.2rem;
    align-items: center;
}

.show-info .progress {
    margin-right: 0.1rem;
    flex: auto;
}

.show-info .percent {
    text-align: end;
    font-size: 0.26rem;
    width: 1rem;
}

.show-info .am-progress-outer {
    background-color: #ddd;
    border-radius: 0.05rem;
    display: block;
}
.show-info .am-progress-bar{
    border-width: 0.05rem 0rem 0.05rem 0rem;
    border-color: #0491f7;
    border-style: solid;
    border-radius: 0.05rem;
    transition: all .3s linear 0s;
}

.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body {
    font-size: 0.32rem;
    color: #000;
    text-align: center;
    padding: 0 0.48rem 0.3rem;
    line-height: 1.5;
}

.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-body {
    font-size: 0.26rem;
    color: #888;
    height: 100%;
    overflow: auto;
}

.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    padding: 0rem;
}

.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer {
    padding-bottom: 0rem;
}

.am-modal.am-modal-transparent.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h {
    overflow: hidden;
    border-top: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0rem;
}

.am-modal.am-modal-transparent.am-modal-android .am-modal-content {
    border-radius: 0.1rem;
}

.am-modal-button-group-h {
    border-top: 0px;
}
